---
// Backwards-compatible route.
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Redirecting…">
	<meta http-equiv="refresh" content="0; url=/firm" />
	<p>
		Redirecting to <a href="/firm">/firm</a>.
	</p>
</Layout>
